name: Validate, Publish, Trigger

on:
  push:
    branches:
      - master
    paths:
      - data/**
      - routes.csv
      - vehicles.csv

env:
  CI: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v1

    - name: Install Node
      uses: actions/setup-node@v1
      with:
        node-version: 13.x
        registry-url: 'https://registry.npmjs.org'

    - name: Cache node modules
      uses: actions/cache@v1
      env:
        cache-name: cache-node-modules
      with:
        path: ~/.npm # npm cache files are stored in `~/.npm` on Linux/macOS
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-

    - name: Install Dependencies
      run: npm install

    - name: Download geojson schema
      run: wget http://json.schemastore.org/geojson

    - name: Validate all geojson files from data/*.json
      run: npx ajv -s geojson -d "data/*.json" --errors=text

    - name: Validate CSV and convert to JSON
      run: node scripts/csv2json.mjs

    - name: Release @roataway/infrastructure-data
      run: |
        git config user.email "action@github.com"
        git config user.name "GitHub Action"
        npm version patch

    - name: Push changes
      uses: ad-m/github-push-action@v0.5.0
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        tags: true

    - name: Publish @roataway/infrastructure-data
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

    - name: Trigger web-ui build
      run: |
        curl -d '{"event_type":"trigger-web-ui"}' \
          -H "Content-Type: application/json" \
          -H "Accept: application/vnd.github.everest-preview+json" \
          -H "Authorization: Bearer ${{ secrets.WEB_UI_TOKEN }}" \
          -X POST https://api.github.com/repos/roataway/web-ui/dispatches